NODE_ENV=""

AWS_ACCESS_KEY_ID=""
AWS_ACCESS_KEY_SECRET=""
AWS_S3_BUCKET_NAME=""

PORT="" 

ADMIN_COOKIE_NAME=""
ADMIN_COOKIE_PASSWORD=""
ADMIN_LOGIN=""
ADMIN_PASSWORD=""
ADMIN_SESSION_SECRET=""

DB_HOST="" # host.docker.internal
DB_DATABASE=""
DB_USERNAME=""
DB_PASSWORD=""

FIREBASE_ADMIN_CONTENTS=""